/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

h1{
    font-size: 150px;
    text-transform: uppercase;
}

h2{
    font-size: 100px;
    text-transform: uppercase;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    
}

.number{
    color: grey;
}

/* =========== NAVBAR ==========*/



.nav-item{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2px; 
    padding: 20px 50px;
    
}


.nav-item:hover{
    border-bottom: 3px solid #fff;
}


.navbar-nav:hover {
    background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.7742px);
}

.spacenavbar{
 position: absolute;
width: 1385px;
height: 96px;
left: 55px;
top: 40px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}







/* ===========  HOME PAGE ==========*/

.homepage_body{
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    color: #fff;
}

.homepage{
    position: absolute;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 307px;
}



.homepage_circle{
    position: absolute;
    width: 274px;
    height: 274px;
    left: 920px;
    top: 390px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    color: black;
    font-family: 'Bellefair', serif; 
    font-size: 32px;
    text-transform: uppercase;
    border: none;
   
    
} 


#bloc {
    display: flex;
    position: relative;
}
  
  #rond {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #arriereplan {
    position: absolute;
   
    opacity: 0.3;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
   width: 400px;
    height: 400px;
    left: 855px;
    top: 325px;
  }
  
  .active {
    display: block;
  }
  
  .noactive {
    display: none;
  }



/* ================ DESTINATION PAGE ================ */

.homepage_destination{
    background-image: url(assets/destination/background-destination-desktop.jpg);
    color: #fff;
}

.h5_destinationmoon{
    position: absolute;
width: 382px;
height: 34px;
left: 166.5px;
top: 212px;

border: 1px solid #000000;

}

.img-moon{
    position: absolute;
width: 445px;
height: 445px;
left: 230px;
top: 343px;
}

.moon_features{
    position: absolute;
width: 445px;
height: 472px;
left: 832px;
top: 310px;

}

.nav_planet{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    position: absolute;
left: 0%;
right: 35.84%;
top: 0%;
bottom: 92.8%;

}