/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

h1{
    font-size: 150px;
    text-transform: uppercase;
}

h2{
    font-size: 100px;
    text-transform: uppercase;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    
    
}

.number{
    color: grey;
}

.text{
    color: #D0D6F9;
    padding: 20px 0px;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
    }

.color{
    color: #D0D6F9;
}

/* =========== NAVBAR ==========*/



.nav-item{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2px; 
    padding: 20px 50px;
    
}


.nav-item:hover{
    border-bottom: 3px solid #fff;
}

.navbar-nav{
    
background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.7742px);

}




.spacenavbar{
 position: absolute;
width: 1385px;
height: 96px;
left: 55px;
top: 40px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}







/* ===========  HOME PAGE ==========*/

.homepage_body{
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    color: #fff;
}

.homepage{
    position: absolute;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 307px;
}



.homepage_circle{
    position: absolute;
    width: 274px;
    height: 274px;
    left: 920px;
    top: 390px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    color: black;
    font-family: 'Bellefair', serif; 
    font-size: 32px;
    text-transform: uppercase;
    border: none;
   cursor: pointer;
    
} 


#bloc {
    display: flex;
    position: relative;
}
  
  #rond {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #arriereplan {
    position: absolute;
   
    opacity: 0.3;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
   width: 400px;
    height: 400px;
    left: 855px;
    top: 325px;
  }
  
  .active {
    display: block;
  }
  
  .noactive {
    display: none;
  }



/* ================ DESTINATION  MOON PAGE ================ */

.homepage_destination{
    background-image: url(assets/destination/background-destination-desktop.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.h5_destinationmoon{
    position: absolute;
width: 382px;
height: 34px;
left: 166.5px;
top: 212px;

border: 1px solid #000000;

}

.planet{
    text-decoration: none;
    color: #D0D6F9;
}

.planet:hover{
    color: #fff;
}

.img-moon{
    position: absolute;
width: 445px;
height: 445px;
left: 230px;
top: 343px;
}

.moon_features{
    position: absolute;
width: 445px;
height: 472px;
left: 832px;
top: 310px;

}


.container-planet{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: flex;
    
}

.planet{
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
}

.container-distance{
    display: flex;
    justify-content: space-around;
}

.title-distance{
    font-family:  'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35px;
    text-transform: uppercase;
    color: #D0D6F9;
    padding-bottom: 5px;
    
}

.number-distance{
    font-family: 'Bellefair'; 
    font-size: 28px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    
    
} 

/* ================  CREW PAGE ================ */

.crew-background{
    background: url(assets/crew/background-crew-desktop.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.crew{
    position: absolute;

left: 165.5px;
top: 400px;

font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.firstname{
    position: absolute;
left: 165.5px;
top: 452px;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}

.text-crew{
    position: absolute;
width: 444px;
height: 128px;
left: 165px;
top: 543px;
color: #D0D6F9;
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
}

.img-crew{
    position: absolute;
width: 546.07px;
height: 570px;
left: 710.93px;
top: 210px;
}

.list-crew{
    display: flex;
    justify-content: space-around;
    position: absolute;
width: 132px;
height: 15px;
left: 167px;
top: 700px;
}



/* ================ TECHONOLOGY PAGE ================ */

.background-technology{
    background: url(assets/technology/background-technology-desktop.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-tech{
    position: absolute;
width: 515px;
height: 527px;
left: 925px;
top: 272px;
}

.title-tech{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
}

.container-tech{
    position: absolute;
width: 470px;
height: 303px;
left: 325px;
top: 383px;
}

.vehicle{
    position: absolute;
width: 80px;
height: 80px;
left: 165px;
top: 383px;
}

.spaceport{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 165px;
    top: 495px;

}

.capsule{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 165px;
    top: 607px;  

}

.vehicle, .capsule, .spaceport{
    border: #fff 1px solid;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
letter-spacing: 2px;
}

.vehicle:hover, 
.capsule:hover, 
.spaceport:hover{
    border: #000000 1px solid;
    border-radius: 50%;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}